In [61]:
import openpyxl
import pandas as pd
import os

In [62]:
excelname='raw_data'
sheetname='data'
wb=openpyxl.load_workbook(str(excelname)+'.xlsx')
ws=wb[str(sheetname)]

In [63]:
dataset=[]
i=1
while(ws.cell(row=i,column=1).value!=None):
    row=[]
    j=1
    while(ws.cell(row=i,column=j).value!=None):
        row.append(ws.cell(row=i,column=j).value)
        j+=1
    dataset.append(row)
    i+=1

In [64]:
trade=[[0 for i in range(16)]for j in range(len(dataset))]
trade[0][0]='date'
trade[0][1]='open'
trade[0][2]='high'
trade[0][3]='low'
trade[0][4]='close'
trade[0][5]='Aroon_Up'
trade[0][6]='Aroon_Down'
trade[0][7]='Aroon_Oscillator'
trade[0][8]='buy'
trade[0][9]='hold'
trade[0][10]='sell'
trade[0][11]='number'
trade[0][12]='value'
trade[0][13]='period_return'
trade[0][14]='holding_period'
trade[0][15]='annual_return'
for i in range(1,len(trade)):
    trade[i][0]=dataset[i][0]
    trade[i][1]=dataset[i][1]
    trade[i][2]=dataset[i][2]
    trade[i][3]=dataset[i][3]
    trade[i][4]=float(dataset[i][4])

In [65]:
pd.DataFrame(trade).head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0

In [66]:
Aroon_index = 25
# Aroon Oscillator(Aroon_Up & Aroon_Down)
for i in range(Aroon_index+1,len(trade)):
# for i in range(Aroon_index+1, 27):
    period_high = -10000
    period_high_index = 0
    period_low  = 10000
    period_low_index = 0
    for j in range(0, Aroon_index+1):
        if(trade[i-j][2]>period_high):
            period_high = trade[i-j][2]
            period_high_index = 0
        if(period_high > trade[i-j][2]):
            period_high_index = period_high_index +1
        if(trade[i-j][3]<period_low):
            period_low = trade[i-j][3]
            period_low_index = 0
        if(period_low < trade[i-j][3]):
            period_low_index = period_low_index + 1
    period_high_index = Aroon_index - period_high_index
    period_low_index  = Aroon_index - period_low_index
    trade[i][5]= ((Aroon_index-period_high_index)/Aroon_index)*100
    trade[i][6]= ((Aroon_index-period_low_index)/Aroon_index)*100
    trade[i][7]=trade[i][5]-trade[i][6]

In [67]:
# ((Aroon_index-period_high_index)/Aroon_index)*100

In [68]:
# ((25-19)/25)*100

In [69]:
# print(period_high)
# print(period_high_index)
# print(period_low)
# print(period_low_index)

In [70]:
pd.DataFrame(trade).head(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,0,0,0,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,0,0,0,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,0,0,0,0,0,0,0,0,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,0,0,0,0,0,0,0,0,0,0,0
11,2003/07/14,39.95,41,39.92,40.66,0,0,0,0,0,0,0,0,0,0,0
12,2003/07/15,40.7,40.86,40.19,40.19,0,0,0,0,0,0,0,0,0,0,0
13,2003/07/16,40.5,40.98,40.24,40.85,0,0,0,0,0,0,0,0,0,0,0
14,2003/07/17,40.5,40.65,39.8,39.8,0,0,0,0,0,0,0,0,0,0,0
15,2003/07/18,39.78,39.98,39.55,39.92,0,0,0,0,0,0,0,0,0,0,0
16,2003/07/21,40,40.25,39.4,39.4,0,0,0,0,0,0,0,0,0,0,0
17,2003/07/22,39.41,39.98,39.41,39.98,0,0,0,0,0,0,0,0,0,0,0
18,2003/07/23,40.3,40.5,40,40.05,0,0,0,0,0,0,0,0,0,0,0
19,2003/07/24,40.2,41.23,40.2,41.23,0,0,0,0,0,0,0,0,0,0,0
20,2003/07/25,41,41.34,40.85,41.23,0,0,0,0,0,0,0,0,0,0,0
21,2003/07/28,41.9,41.94,41.57,41.58,0,0,0,0,0,0,0,0,0,0,0
22,2003/07/29,41.54,41.54,40.83,41.02,0,0,0,0,0,0,0,0,0,0,0
23,2003/07/30,41,41.02,40.55,40.6,0,0,0,0,0,0,0,0,0,0,0
24,2003/07/31,40.66,41,40.44,40.87,0,0,0,0,0,0,0,0,0,0,0
25,2003/08/01,41.28,41.6,41.05,41.6,0,0,0,0,0,0,0,0,0,0,0
26,2003/08/04,41.47,41.55,41.21,41.4,24,0,24,0,0,0,0,0,0,0,0
27,2003/08/05,41.5,41.61,40.5,40.5,20,0,20,0,0,0,0,0,0,0,0
28,2003/08/06,40.2,40.3,40.06,40.23,16,0,16,0,0,0,0,0,0,0,0
29,2003/08/07,40.35,40.77,39.97,40.7,12,4,8,0,0,0,0,0,0,0,0

In [71]:
for i in range(Aroon_index,len(trade)):
    if(trade[i][7]>0)and(trade[i-1][9]==0):
        trade[i][8]=1
        trade[i][9]=1
        trade[i][10]=0
    elif(trade[i][7]<0)and(trade[i-1][9]==1):
        trade[i][8]=0
        trade[i][9]=0
        trade[i][10]=1
    elif(trade[i-1][9]>0):
        trade[i][8]=0
        trade[i][9]=1
        trade[i][10]=0

In [72]:
initial=10000
for i in range(25,len(trade)):
    if(trade[i][8]==1)and(trade[i][9]==1)and(trade[i][10]==0):
        trade[i][11]=initial/trade[i][4]
        trade[i][12]=trade[i][11]*trade[i][4]
        trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)
    elif(trade[i][8]==0)and(trade[i][9]==0)and(trade[i][10]==1):
        trade[i][11]=0
        trade[i][12]=trade[i-1][11]*trade[i][4]
        trade[i][13]=round((trade[i-1][11]*trade[i][4]-initial)/initial,4)
    elif(trade[i][8]==0)and(trade[i][9]==1)and(trade[i][10]==0):
        trade[i][11]=trade[i-1][11]
        trade[i][12]=trade[i][11]*trade[i][4]
        trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)

In [73]:
pd.DataFrame(trade).head(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,0,0,0,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,0,0,0,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,0,0,0,0,0,0,0,0,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,0,0,0,0,0,0,0,0,0,0,0
11,2003/07/14,39.95,41,39.92,40.66,0,0,0,0,0,0,0,0,0,0,0
12,2003/07/15,40.7,40.86,40.19,40.19,0,0,0,0,0,0,0,0,0,0,0
13,2003/07/16,40.5,40.98,40.24,40.85,0,0,0,0,0,0,0,0,0,0,0
14,2003/07/17,40.5,40.65,39.8,39.8,0,0,0,0,0,0,0,0,0,0,0
15,2003/07/18,39.78,39.98,39.55,39.92,0,0,0,0,0,0,0,0,0,0,0
16,2003/07/21,40,40.25,39.4,39.4,0,0,0,0,0,0,0,0,0,0,0
17,2003/07/22,39.41,39.98,39.41,39.98,0,0,0,0,0,0,0,0,0,0,0
18,2003/07/23,40.3,40.5,40,40.05,0,0,0,0,0,0,0,0,0,0,0
19,2003/07/24,40.2,41.23,40.2,41.23,0,0,0,0,0,0,0,0,0,0,0
20,2003/07/25,41,41.34,40.85,41.23,0,0,0,0,0,0,0,0,0,0,0
21,2003/07/28,41.9,41.94,41.57,41.58,0,0,0,0,0,0,0,0,0,0,0
22,2003/07/29,41.54,41.54,40.83,41.02,0,0,0,0,0,0,0,0,0,0,0
23,2003/07/30,41,41.02,40.55,40.6,0,0,0,0,0,0,0,0,0,0,0
24,2003/07/31,40.66,41,40.44,40.87,0,0,0,0,0,0,0,0,0,0,0
25,2003/08/01,41.28,41.6,41.05,41.6,0,0,0,0,0,0,0,0,0,0,0
26,2003/08/04,41.47,41.55,41.21,41.4,24,0,24,1,1,0,241.546,10000,0,0,0
27,2003/08/05,41.5,41.61,40.5,40.5,20,0,20,0,1,0,241.546,9782.61,-0.0217,0,0
28,2003/08/06,40.2,40.3,40.06,40.23,16,0,16,0,1,0,241.546,9717.39,-0.0283,0,0
29,2003/08/07,40.35,40.77,39.97,40.7,12,4,8,0,1,0,241.546,9830.92,-0.0169,0,0

In [74]:
#import datetime             
import datetime
from datetime import date
for i in range(1,len(trade)):
    trade[i][0]=datetime.datetime.strptime(trade[i][0],'%Y/%m/%d')
#holding_period
first=0
end=0
for i in range(1,len(trade)):
    if(trade[i][8]==1):
        trade[i][14]=1
        first=trade[i][0]
    elif((trade[i][9]>0)or(trade[i][10]==1)and(trade[i][8]!=1)):
        end=trade[i][0]
        trade[i][14]=(end-first).days+1
#annual_return (holding_period)
for i in range(1,len(trade)):
    if(trade[i][14]!=0):
        trade[i][15]=(1+trade[i][13])**(365/trade[i][14])-1
#annual_return (trading)
annual_return=1
trading=0
for i in range(1,len(trade)):
    if(trade[i][10]==1):
        annual_return*=(1+trade[i][13])
        trading+=1

final_return=annual_return**(1/trading)-1

In [75]:
final_return

0.0059474993009254185

In [76]:
pd.DataFrame(trade).head(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,date,open,high,low,close,Aroon_Up,Aroon_Down,Aroon_Oscillator,buy,hold,sell,number,value,period_return,holding_period,annual_return
1,2003-06-30 00:00:00,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0,0,0,0,0
2,2003-07-01 00:00:00,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0,0,0,0,0
3,2003-07-02 00:00:00,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0,0,0,0,0
4,2003-07-03 00:00:00,40.6,40.6,38.81,39,0,0,0,0,0,0,0,0,0,0,0
5,2003-07-04 00:00:00,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0,0,0,0,0
6,2003-07-07 00:00:00,39.6,41,39.6,41,0,0,0,0,0,0,0,0,0,0,0
7,2003-07-08 00:00:00,42,42,40.7,41.19,0,0,0,0,0,0,0,0,0,0,0
8,2003-07-09 00:00:00,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0,0,0,0,0
9,2003-07-10 00:00:00,41.2,41.2,40.05,40.05,0,0,0,0,0,0,0,0,0,0,0
10,2003-07-11 00:00:00,39.6,39.97,39.3,39.91,0,0,0,0,0,0,0,0,0,0,0
11,2003-07-14 00:00:00,39.95,41,39.92,40.66,0,0,0,0,0,0,0,0,0,0,0
12,2003-07-15 00:00:00,40.7,40.86,40.19,40.19,0,0,0,0,0,0,0,0,0,0,0
13,2003-07-16 00:00:00,40.5,40.98,40.24,40.85,0,0,0,0,0,0,0,0,0,0,0
14,2003-07-17 00:00:00,40.5,40.65,39.8,39.8,0,0,0,0,0,0,0,0,0,0,0
15,2003-07-18 00:00:00,39.78,39.98,39.55,39.92,0,0,0,0,0,0,0,0,0,0,0
16,2003-07-21 00:00:00,40,40.25,39.4,39.4,0,0,0,0,0,0,0,0,0,0,0
17,2003-07-22 00:00:00,39.41,39.98,39.41,39.98,0,0,0,0,0,0,0,0,0,0,0
18,2003-07-23 00:00:00,40.3,40.5,40,40.05,0,0,0,0,0,0,0,0,0,0,0
19,2003-07-24 00:00:00,40.2,41.23,40.2,41.23,0,0,0,0,0,0,0,0,0,0,0
20,2003-07-25 00:00:00,41,41.34,40.85,41.23,0,0,0,0,0,0,0,0,0,0,0
21,2003-07-28 00:00:00,41.9,41.94,41.57,41.58,0,0,0,0,0,0,0,0,0,0,0
22,2003-07-29 00:00:00,41.54,41.54,40.83,41.02,0,0,0,0,0,0,0,0,0,0,0
23,2003-07-30 00:00:00,41,41.02,40.55,40.6,0,0,0,0,0,0,0,0,0,0,0
24,2003-07-31 00:00:00,40.66,41,40.44,40.87,0,0,0,0,0,0,0,0,0,0,0
25,2003-08-01 00:00:00,41.28,41.6,41.05,41.6,0,0,0,0,0,0,0,0,0,0,0
26,2003-08-04 00:00:00,41.47,41.55,41.21,41.4,24,0,24,1,1,0,241.546,10000,0,1,0
27,2003-08-05 00:00:00,41.5,41.61,40.5,40.5,20,0,20,0,1,0,241.546,9782.61,-0.0217,2,-0.981755
28,2003-08-06 00:00:00,40.2,40.3,40.06,40.23,16,0,16,0,1,0,241.546,9717.39,-0.0283,3,-0.969585
29,2003-08-07 00:00:00,40.35,40.77,39.97,40.7,12,4,8,0,1,0,241.546,9830.92,-0.0169,4,-0.788875

In [77]:
ws_Aroon = wb["Aroon"]
for i in range(0, len(trade)):
    for j in range(0, len(trade[1])):
        ws_Aroon.cell(row = i+ 1, column = j +1 ).value = trade[i][j]
wb.save("raw_data.xlsx")

In [78]:
def hyper(dataset, Aroon_index):
    trade=[[0 for i in range(16)]for j in range(len(dataset))]
    trade[0][0]='date'
    trade[0][1]='open'
    trade[0][2]='high'
    trade[0][3]='low'
    trade[0][4]='close'
    trade[0][5]='Aroon_Up'
    trade[0][6]='Aroon_Down'
    trade[0][7]='Aroon_Oscillator'
    trade[0][8]='buy'
    trade[0][9]='hold'
    trade[0][10]='sell'
    trade[0][11]='number'
    trade[0][12]='value'
    trade[0][13]='period_return'
    trade[0][14]='holding_period'
    trade[0][15]='annual_return'
    for i in range(1,len(trade)):
        trade[i][0]=dataset[i][0]
        trade[i][1]=dataset[i][1]
        trade[i][2]=dataset[i][2]
        trade[i][3]=dataset[i][3]
        trade[i][4]=float(dataset[i][4])
#     Aroon_index = 25
    # Aroon Oscillator(Aroon_Up & Aroon_Down)
    for i in range(Aroon_index+1,len(trade)):
    # for i in range(Aroon_index+1, 27):
        period_high = -10000
        period_high_index = 0
        period_low  = 10000
        period_low_index = 0
        for j in range(0, Aroon_index+1):
            if(trade[i-j][2]>period_high):
                period_high = trade[i-j][2]
                period_high_index = 0
            if(period_high > trade[i-j][2]):
                period_high_index = period_high_index +1
            if(trade[i-j][3]<period_low):
                period_low = trade[i-j][3]
                period_low_index = 0
            if(period_low < trade[i-j][3]):
                period_low_index = period_low_index + 1
        period_high_index = Aroon_index - period_high_index
        period_low_index  = Aroon_index - period_low_index
        trade[i][5]= ((Aroon_index-period_high_index)/Aroon_index)*100
        trade[i][6]= ((Aroon_index-period_low_index)/Aroon_index)*100
        trade[i][7]=trade[i][5]-trade[i][6]
        
    for i in range(Aroon_index,len(trade)):
        if(trade[i][7]>0)and(trade[i-1][9]==0):
            trade[i][8]=1
            trade[i][9]=1
            trade[i][10]=0
        elif(trade[i][7]<0)and(trade[i-1][9]==1):
            trade[i][8]=0
            trade[i][9]=0
            trade[i][10]=1
        elif(trade[i-1][9]>0):
            trade[i][8]=0
            trade[i][9]=1
            trade[i][10]=0
            
    initial=10000
    for i in range(25,len(trade)):
        if(trade[i][8]==1)and(trade[i][9]==1)and(trade[i][10]==0):
            trade[i][11]=initial/trade[i][4]
            trade[i][12]=trade[i][11]*trade[i][4]
            trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)
        elif(trade[i][8]==0)and(trade[i][9]==0)and(trade[i][10]==1):
            trade[i][11]=0
            trade[i][12]=trade[i-1][11]*trade[i][4]
            trade[i][13]=round((trade[i-1][11]*trade[i][4]-initial)/initial,4)
        elif(trade[i][8]==0)and(trade[i][9]==1)and(trade[i][10]==0):
            trade[i][11]=trade[i-1][11]
            trade[i][12]=trade[i][11]*trade[i][4]
            trade[i][13]=round((trade[i][11]*trade[i][4]-initial)/initial,4)
    #import datetime             
    import datetime
    from datetime import date
    for i in range(1,len(trade)):
        trade[i][0]=datetime.datetime.strptime(trade[i][0],'%Y/%m/%d')
    #holding_period
    first=0
    end=0
    for i in range(1,len(trade)):
        if(trade[i][8]==1):
            trade[i][14]=1
            first=trade[i][0]
        elif((trade[i][9]>0)or(trade[i][10]==1)and(trade[i][8]!=1)):
            end=trade[i][0]
            trade[i][14]=(end-first).days+1
    #annual_return (holding_period)
    for i in range(1,len(trade)):
        if(trade[i][14]!=0):
            trade[i][15]=(1+trade[i][13])**(365/trade[i][14])-1
    #annual_return (trading)
    annual_return=1
    trading=0
    for i in range(1,len(trade)):
        if(trade[i][10]==1):
            annual_return*=(1+trade[i][13])
            trading+=1

    final_return=annual_return**(1/trading)-1
    return final_return

In [79]:
hyper(dataset, 25)

0.0059474993009254185

In [81]:
for i in range(10, 30):
    print("Thin final annual return of arron " + str(i)+" is:" + str(hyper(dataset, i)))

Thin final annual return of arron 10 is:-1.0
Thin final annual return of arron 11 is:-1.0
Thin final annual return of arron 12 is:-1.0
Thin final annual return of arron 13 is:-1.0
Thin final annual return of arron 14 is:-1.0
Thin final annual return of arron 15 is:-1.0
Thin final annual return of arron 16 is:-1.0
Thin final annual return of arron 17 is:0.002997619102954152
Thin final annual return of arron 18 is:0.0027896297965974703
Thin final annual return of arron 19 is:-1.0
Thin final annual return of arron 20 is:-1.0
Thin final annual return of arron 21 is:-1.0
Thin final annual return of arron 22 is:-1.0
Thin final annual return of arron 23 is:-1.0
Thin final annual return of arron 24 is:0.0076997147237869434
Thin final annual return of arron 25 is:0.0059474993009254185
Thin final annual return of arron 26 is:0.0058840101849828574
Thin final annual return of arron 27 is:0.005885836099295272
Thin final annual return of arron 28 is:0.005525294350650967
Thin final annual return of arron 29 is:0.005949257695744947